!!!

%html
  %head
    %title Splendor Veritatis Content Indices

    %style
      body { font-family: sans-serif; padding-bottom: 50px; }
      p { margin: 5px; }
      p:hover { background-color: #eee; }
      a { text-decoration: none; }
      a:hover { text-decoration: underline; }
      \.pageno { display: inline-block; width: 2em; text-align: right; font-size: small; }

  %body
    = yield  
