!!!

%html
  %head
    %title Splendor Veritatis Content Indices

    %style
      body { font-family: sans-serif; padding-bottom: 50px; }
      p { margin: 5px; }
      p:hover { background-color: #eee; }
      a { text-decoration: none; }
      a:hover { text-decoration: underline; }
      \.pageno { display: inline-block; width: 2em; text-align: right; font-size: small; }
      \.lvl1 { font-size: 130%; margin-top: 1em; }
      \.lvl2 { font-size: 120%; margin-top: 1em; }
      \.lvl3 { font-size: 110%; }

  %body
    = yield  
