<html>
  <head>
    <title>Splendor Veritatis Content Indices</title>
  </head>

  <frameset cols="350, *">
    <frame name="index" src="/antiphonale" />
    <frame name="content" src="/intro" />
  </frameset>
</html>
