<h1>Cistercian Chant Books Indices</h1>

<h2>Introduction</h2>

<p>
  Over at <a href="http://splendorveritatis.org">Splendor Veritatis</a>
  Christopher Gray made available scans of several Cistercian chant
  books. It's a very valuable resource, as these books are very
  hard to find elsewhere.
</p>
<p>
  Because the site is just a simple photo-gallery, to find some
  particular occasion or chant is usually quite a hard task.
  This humble site attempts to alleviate it by providing
  a table of contents for each of the books.
</p>
<p>
  For now there is only a WIP index of the 1947 Trappist Antiphonale,
  because it's the item most interesting for the author.
</p>
